body {
    font-family: Arial, sans-serif;
}

.container {
    margin: 45px 0 0 34px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

input {
    width: 210px;
    height: 25px;
    font-size: 16px;
}

p {
    margin-top: 8px;
    font-size: 16px;
}